

    <div class="dashboard_content" style="min-height: 700px;">
        <!-- breadcrumbs -->
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li class="fl"><a href="/">ホーム</a></li>
                    <li class="fl">マイページトップ</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <div class="dashboardCont">
   
        </div>
    </div>

    <style type="text/css">
        .qiandao_button {
            position: fixed;
            top: 30%;
            right: 5%;
            width: 150px;
            height: 50px;
            text-align: center;
            z-index: 999;
            background: #fe926b;
            color: #fff;
            line-height: 50px;
            display: none;
            cursor: pointer;
        }

        .qiandao_img {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 350px;
            height: 370px;
            margin-top: -175px;
            margin-left: -185px;
            text-align: center;
            z-index: 999;
            display: none;
        }

        .qd_close {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            cursor: pointer;
        }

        .qd_button {
            width: 150px;
            height: 35px;
            position: absolute;
            bottom: 20px;
            left: 60px;
            cursor: pointer;
        }
    </style>

    <div class="qiandao_img">
        <div class="qd_close"></div>
        <img src="https://www.zasale.com/themes/sweeshop-v1/assets/img/qd_img.png">
        <div class="qd_button"></div>
    </div>

    <div class="qiandao_button">
        サインチェック
    </div>
   