.container {
    min-width: 1500px;
    // margin-top: 10px;
    // width:1500px;
    width: 100%;
    position: fixed;
    top: 70px;
    z-index: 999999;
    background-color: white;

    .displayNone {
        display: none;
    }

    .wrapper {
        padding: 0;
        display: flex;
        justify-content: space-between;



        img {
            width: 200px;
            height: 65px;
            padding-left: 10px;
            padding-top: 14px;
        }

        .search {
            display: flex;
            align-items: center;
            width: 60%;
            // .inside{
            //     vertical-align: top;
            //     display: inline-block;
            //     width: 90%;
            //     border: #EFE3CF solid 2px;
            //     height: 60px;
            // }
        }

        .userInfo {
            width: 220px;
            height: 65px;
            display: flex;
            justify-content: space-around;
            padding-right: 40px;

            .user {
                width: 150px;
                height: 65px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            span {
                position: absolute;
                top: 22px;
                right: 22px;
                width: 22px;
                height: 22px;
                line-height: 22px;
                color: #f00;
                text-align: center;
                background: #fff;
                border-radius: 12px;
            }

            // .user{
            //     width:130px;
            //     background-color: rgb(207 233 8);
            //     position: relative;

            //     .icon{
            //         font-size: 50px;
            //         position:absolute;
            //         left:20px;
            //         top:10px;

            //     }

            //     .count{
            //         position:absolute;
            //         right: 20px;
            //         top:10px;
            //         height:22px;
            //         width:22px;
            //         border-radius: 50%;
            //         background-color: white;
            //         // border:1px solid black;
            //         // align-items: center;
            //         text-align: center;
            //         vertical-align: center;

            //         p{
            //             margin:0;
            //             color:red;
            //             font-size: 6px;

            //         }
            //     }
            // }
        }
    }



}

.popup {
    position: fixed;
    padding-top: 15px;
}