<div class="container" style="padding: 0;">
    <div class="tab-banner">
        <a href="/time-sale-c-58.html">
            <img src="">
        </a>
        <div class="conditions_div">
            <p style="font-size: 28px;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">春季“IT ITEM”杰作一览</font>
                </font>
            </p>
            <div class="condition_p">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">介绍令人兴奋的新春季协调。</font>
                    </font>
                </p>
            </div>
        </div>
    </div>
    <div class="come-banner" style="margin-top: 0;">
        <a href="/casual-onepiece-p-119124.html?rel=popular">
            <img
                src="//imgs.zasale.com/uploads/public/63e/dfb/742/63edfb7425744482173218.jpg?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp">
        </a>
    </div>
    <div class="rightBox" style="width: 100%;margin-top: 50px;">
        <div class="itemList" style="margin-top: 10px;">
            <div class="bx-collocation">
                <h3 class="bx-tit">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">坐标项目</font>
                        </font>
                    </span>
                </h3>
                <div class="swiper-container swiper-wrapper-colls swiper-container-horizontal">
                    <div class="swiper-wrapper" style="height: 100%;">
                        <div class="grid ranking c-items swiper-slide swiper-slide-active"
                            style="width: 1080px; height: 100%;">
                            <div class=" s-w-collocation">
                                <div class="s-wrapper">
                                    <div class="s-slide">
                                        <a href="/setup-p-123479.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/638/444/cd2/638444cd2dddf574325628.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="123479"
                                                        data-original="//imgs.zasale.com/uploads/public/638/444/cd2/638444cd2dddf574325628.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">设置</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,335</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="s-slide">
                                        <a href="/jacket-p-126796.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63e/5ae/504/63e5ae5047fab806823576.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="126796"
                                                        data-original="//imgs.zasale.com/uploads/public/63e/5ae/504/63e5ae5047fab806823576.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">外</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,640</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cd-bn-x">
                                <p class="c-tit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            当两个项目都</font>
                                    </font><br>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">添加到购物车时
                                        </font>
                                    </font>
                                </p>
                                <p class="c-p-dis">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">减 ¥558</font>
                                    </font>
                                </p>
                                <div class="purchased-btn" data-ids="123479,126796" data-bonus_type="percent"
                                    data-collocation_id="7" data-collocation_items_id="28" data-discount="8">
                                    <div class="c-p-delta"></div>
                                    <p class="c-p-pri">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">¥6,417</font>
                                        </font>
                                    </p>
                                    <p class="c-p-tag"></p>
                                    <div class="c-p-btn" onclick="purchasedBtn(this);" data-ids="123479,126796"
                                        data-bonus_type="percent" data-collocation_id="7" data-collocation_items_id="28"
                                        data-discount="8">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">立即购买</font>
                                            </font>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-col swiper-pagination-bullets" style="bottom: 0;"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
            </div>
        </div>
    </div>
    <div class="come-banner" style="margin-top: 0;">
        <a href="/sweater-p-76977.html">
            <img
                src="//imgs.zasale.com/uploads/public/633/560/3f1/6335603f1f019839005876.png?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp">
        </a>
    </div>
    <div class="rightBox" style="width: 100%;margin-top: 50px;">
        <div class="itemList" style="margin-top: 10px;">
            <div class="bx-collocation">
                <h3 class="bx-tit">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">坐标项目</font>
                        </font>
                    </span>
                </h3>
                <div class="swiper-container swiper-wrapper-colls swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="grid ranking c-items swiper-slide swiper-slide-active" style="width: 1080px;">
                            <div class="cd-bn-x">
                                <p class="c-tit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            当两个项目都</font>
                                    </font><br>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">添加到购物车时
                                        </font>
                                    </font>
                                </p>
                                <p class="c-p-dis">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">减¥405</font>
                                    </font>
                                </p>
                                <div class="purchased-btn" data-ids="126512,125580" data-bonus_type="percent"
                                    data-collocation_id="8" data-collocation_items_id="29" data-discount="8">
                                    <div class="c-p-delta"></div>
                                    <p class="c-p-pri">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">¥4,649</font>
                                        </font>
                                    </p>
                                    <p class="c-p-tag"></p>
                                    <div class="c-p-btn" onclick="purchasedBtn(this);" data-ids="126512,125580"
                                        data-bonus_type="percent" data-collocation_id="8" data-collocation_items_id="29"
                                        data-discount="8">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">立即购买</font>
                                            </font>
                                        </span>
                                        <span class="c-p-btn-d"></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" s-w-collocation">
                                <div class="s-wrapper">
                                    <div class="s-slide">
                                        <a href="/sweater-p-126512.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63e/098/0e8/63e0980e87f46613054461.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="126512"
                                                        data-original="//imgs.zasale.com/uploads/public/63e/098/0e8/63e0980e87f46613054461.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">最高额</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥2,612</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="s-slide">
                                        <a href="/sweater-p-125580.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63c/0f8/e4e/63c0f8e4ef056142641811.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="125580"
                                                        data-original="//imgs.zasale.com/uploads/public/63c/0f8/e4e/63c0f8e4ef056142641811.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">最高额</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">¥2,442</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-col swiper-pagination-bullets" style="bottom: 0;"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
            </div>
        </div>
    </div>
    <div class="come-banner" style="margin-top: 0;">
        <a href="/coat-p-118515.html">
            <img
                src="//imgs.zasale.com/uploads/public/633/560/58b/63356058b1527822248245.png?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp">
        </a>
    </div>
    <div class="rightBox" style="width: 100%;margin-top: 50px;">
        <div class="itemList" style="margin-top: 10px;">
            <div class="bx-collocation">
                <h3 class="bx-tit">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">坐标项目</font>
                        </font>
                    </span>
                </h3>
                <div class="swiper-container swiper-wrapper-colls swiper-container-horizontal">
                    <div class="swiper-wrapper"
                        style="transform: translate3d(-1080px, 0px, 0px); transition-duration: 0ms;">
                        <div class="grid ranking c-items swiper-slide swiper-slide-prev" style="width: 1080px;">
                            <div class=" s-w-collocation">
                                <div class="s-wrapper">
                                    <div class="s-slide">
                                        <a href="/setup-p-125952.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63c/a04/289/63ca04289aee5403855156.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="125952"
                                                        data-original="//imgs.zasale.com/uploads/public/63c/a04/289/63ca04289aee5403855156.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">设置</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,599</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="s-slide">
                                        <a href="/setup-p-123479.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/638/444/cd2/638444cd2dddf574325628.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="123479"
                                                        data-original="//imgs.zasale.com/uploads/public/638/444/cd2/638444cd2dddf574325628.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">设置</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,335</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cd-bn-x">
                                <p class="c-tit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            当两个项目都</font>
                                    </font><br>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">添加到购物车时
                                        </font>
                                    </font>
                                </p>
                                <p class="c-p-dis">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">减 ￥555</font>
                                    </font>
                                </p>
                                <div class="purchased-btn" data-ids="125952,123479" data-bonus_type="percent"
                                    data-collocation_id="9" data-collocation_items_id="30" data-discount="8">
                                    <div class="c-p-delta"></div>
                                    <p class="c-p-pri">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">￥6,379</font>
                                        </font>
                                    </p>
                                    <p class="c-p-tag"></p>
                                    <div class="c-p-btn" onclick="purchasedBtn(this);" data-ids="125952,123479"
                                        data-bonus_type="percent" data-collocation_id="9" data-collocation_items_id="30"
                                        data-discount="8">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">立即购买</font>
                                            </font>
                                        </span>
                                        <span class="c-p-btn-d"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid ranking c-items swiper-slide swiper-slide-active" style="width: 1080px;">
                            <div class=" s-w-collocation">
                                <div class="s-wrapper">
                                    <div class="s-slide">
                                        <a href="/setup-p-125952.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63c/a04/289/63ca04289aee5403855156.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="125952"
                                                        data-original="//imgs.zasale.com/uploads/public/63c/a04/289/63ca04289aee5403855156.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">设置</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,599</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="s-slide">
                                        <a href="/casual-onepiece-p-126423.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63d/cac/6fa/63dcac6fa504b537434137.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="126423"
                                                        data-original="//imgs.zasale.com/uploads/public/63d/cac/6fa/63dcac6fa504b537434137.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">一块</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">¥5,195</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cd-bn-x">
                                <p class="c-tit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            当两个项目都</font>
                                    </font><br>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">添加到购物车时
                                        </font>
                                    </font>
                                </p>
                                <p class="c-p-dis">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">¥704 优惠</font>
                                    </font>
                                </p>
                                <div class="purchased-btn" data-ids="125952,126423" data-bonus_type="percent"
                                    data-collocation_id="9" data-collocation_items_id="31" data-discount="8">
                                    <div class="c-p-delta"></div>
                                    <p class="c-p-pri">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">￥8,090</font>
                                        </font>
                                    </p>
                                    <p class="c-p-tag"></p>
                                    <div class="c-p-btn" onclick="purchasedBtn(this);" data-ids="125952,126423"
                                        data-bonus_type="percent" data-collocation_id="9" data-collocation_items_id="31"
                                        data-discount="8">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">立即购买</font>
                                            </font>
                                        </span>
                                        <span class="c-p-btn-d"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-col swiper-pagination-bullets" style="bottom: 0;"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
            </div>
        </div>
    </div>
    <div class="come-banner" style="margin-top: 0;">
        <a href="/set-up-p-31515.html">
            <img
                src="//imgs.zasale.com/uploads/public/633/560/a15/633560a15e167676124104.png?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp">
        </a>
    </div>
    <div class="rightBox" style="width: 100%;margin-top: 50px;">
        <div class="itemList" style="margin-top: 10px;">
            <div class="bx-collocation">
                <h3 class="bx-tit">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">坐标项目</font>
                        </font>
                    </span>
                </h3>
                <div class="swiper-container swiper-wrapper-colls swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="grid ranking c-items swiper-slide swiper-slide-active" style="width: 1080px;">
                            <div class="cd-bn-x">
                                <p class="c-tit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            当两个项目都</font>
                                    </font><br>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">添加到购物车时
                                        </font>
                                    </font>
                                </p>
                                <p class="c-p-dis">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">减¥501</font>
                                    </font>
                                </p>
                                <div class="purchased-btn" data-ids="126796,124589" data-bonus_type="percent"
                                    data-collocation_id="10" data-collocation_items_id="32" data-discount="8">
                                    <div class="c-p-delta"></div>
                                    <p class="c-p-pri">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">¥5,761</font>
                                        </font>
                                    </p>
                                    <p class="c-p-tag"></p>
                                    <div class="c-p-btn" onclick="purchasedBtn(this);" data-ids="126796,124589"
                                        data-bonus_type="percent" data-collocation_id="10"
                                        data-collocation_items_id="32" data-discount="8">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">立即购买</font>
                                            </font>
                                        </span>
                                        <span class="c-p-btn-d"></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" s-w-collocation">
                                <div class="s-wrapper">
                                    <div class="s-slide">
                                        <a href="/jacket-p-126796.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63e/5ae/504/63e5ae5047fab806823576.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="126796"
                                                        data-original="//imgs.zasale.com/uploads/public/63e/5ae/504/63e5ae5047fab806823576.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">外</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,640</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="s-slide">
                                        <a href="/sweater-p-124589.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63a/52a/204/63a52a204263c980864957.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="124589"
                                                        data-original="//imgs.zasale.com/uploads/public/63a/52a/204/63a52a204263c980864957.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">最高额</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥2,622</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-col swiper-pagination-bullets" style="bottom: 0;"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
            </div>
        </div>
    </div>
    <div class="come-banner" style="margin-top: 0;">
        <a href="/coat-p-118719.html">
            <img
                src="//imgs.zasale.com/uploads/public/633/561/089/633561089fe12133679138.png?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp">
        </a>
    </div>
    <div class="rightBox" style="width: 100%;margin-top: 50px;">
        <div class="itemList" style="margin-top: 10px;">
            <div class="bx-collocation">
                <h3 class="bx-tit">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">坐标项目</font>
                        </font>
                    </span>
                </h3>
                <div class="swiper-container swiper-wrapper-colls swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="grid ranking c-items swiper-slide swiper-slide-active" style="width: 1080px;">
                            <div class=" s-w-collocation">
                                <div class="s-wrapper">
                                    <div class="s-slide">
                                        <a href="/setup-p-127029.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/640/1a3/441/6401a34413a00755079697.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="127029"
                                                        data-original="//imgs.zasale.com/uploads/public/640/1a3/441/6401a34413a00755079697.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">设置</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,999</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="s-slide">
                                        <a href="/setup-p-127109.html">
                                            <div class="s-slide-img">









                                                <div class="aspect-ratio-image" style="--aspect-ratio: 0.74834437086093 ;width: 98%;
height: 100%;">
                                                    <img src="//imgs.zasale.com/uploads/public/63e/c8b/125/63ec8b1252613781602119.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        data-pid="127109"
                                                        data-original="//imgs.zasale.com/uploads/public/63e/c8b/125/63ec8b1252613781602119.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
                                                        class="lazy"
                                                        style="height: 340px; width: 100%; display: block;">
                                                </div>
                                            </div>
                                            <div class="s-slide-price">
                                                <p class="col-p-name">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">设置</font>
                                                    </font>
                                                </p>
                                                <p class="price"><b>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">￥3,999</font>
                                                        </font><em class="tax">
                                                        </em>
                                                    </b></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cd-bn-x">
                                <p class="c-tit">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            当两个项目都</font>
                                    </font><br>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">添加到购物车时
                                        </font>
                                    </font>
                                </p>
                                <p class="c-p-dis">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">减 ¥640</font>
                                    </font>
                                </p>
                                <div class="purchased-btn" data-ids="127029,127109" data-bonus_type="percent"
                                    data-collocation_id="11" data-collocation_items_id="33" data-discount="8">
                                    <div class="c-p-delta"></div>
                                    <p class="c-p-pri">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">￥7,358</font>
                                        </font>
                                    </p>
                                    <p class="c-p-tag"></p>
                                    <div class="c-p-btn" onclick="purchasedBtn(this);" data-ids="127029,127109"
                                        data-bonus_type="percent" data-collocation_id="11"
                                        data-collocation_items_id="33" data-discount="8">
                                        <span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">立即购买</font>
                                            </font>
                                        </span>
                                        <span class="c-p-btn-d"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-col swiper-pagination-bullets" style="bottom: 0;"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
            </div>
        </div>
    </div>
</div>