<body>

    <div class="main-container col2-right-layout" style="padding-top: 239px;">
        <div class="main container">
            <div class="row">
                <form method="POST" action="https://www.zasale.com/checkout/onestepcheckout.html" accept-charset="UTF-8"
                    class="checkoutForm"><input name="_handler" type="hidden" value="onPlaceOrder"><input
                        name="_session_key" type="hidden" value="CCCI6mBKuTGVVMKPeCd4YvzTkCgJqzVg8PXxZxcs"><input
                        name="_token" type="hidden" value="VKBKpXylVtt8U76Da3AamFRxbNNd79F5Bc4wOpxf">
                    <input type="hidden" name="is_from_onestepcheckout" value="1">
                    <!-- redirect to the payment page without payment method selected -->

                    <input type="hidden" id="promitonIds1" value="[]">
                    <input type="hidden" id="limitPrice1" value="12999">
                    <section class="col-main col-sm-8 wow col-main-center">
                            <h1 style="color: #A39990;">注文内容をご確認ください</h1>
                        </div>
                        <ol class="one-page-checkout" id="checkoutSteps">
                            <li id="opc-shipping" class="section allow">
                                <div class="step-title">

                                </div>
                                <div id="checkout-step-billing" class="a-item">
                                    <fieldset class="group-select">
                                        <ul>
                                            <li id="shiping-address-form" class="ml55">
                                                <fieldset>

                                                </fieldset>
                                            </li>
                                            <div class="step-title" style="display:none;"> <span class="number"></span>
                                                <h3 class="one_page_heading">支払い請求先の住所</h3>
                                            </div>
                                            <li class="control ml55" style="display:none;">
                                                <input type="radio" class="radio" onclick="$('#opc-billing').hide();"
                                                    title="Billing to this address" checked="checked" value="1"
                                                    id="billing:use_for_shipping_yes" name="billing[use_for_shipping]">
                                                <label for="billing:use_for_shipping_yes">以上のお届け先を選択する</label>
                                            </li>
                                            <li class="control ml55" style="display:none;">
                                                <input type="radio" class="radio" onclick="$('#opc-billing').show();"
                                                    title="Billing to different address" value="0"
                                                    id="billing:use_for_shipping_no" name="billing[use_for_shipping]">
                                                <label for="billing:use_for_shipping_no">お届け先住所を追加する</label>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </div>
                            </li>
                            <li id="opc-billing" class="section" style="display: none">
                                <div id="checkout-step-shipping" class="a-item ml55">
                                    <fieldset class="group-select">
                                        <ul>
                                            <li id="billing-new-address-form">
                                                <fieldset>
                                                    <ul>
                                                        <li>
                                                            <div class="customer-name">
                                                                <div class="input-box name-firstname">
                                                                    <label for="b_firstname"> 支払い請求者氏名</label>
                                                                    <br>
                                                                    <input type="text" id="b_firstname"
                                                                        name="Checkout[b_firstname]" value=""
                                                                        placeholder="氏名を入力してください"
                                                                        class="input-text required-entry">
                                                                </div>
                                                                <div class="input-box name-lastname">
                                                                    <label for="b_lastname"> 支払い請求者フリガナ</label>
                                                                    <br>
                                                                    <input type="text" id="b_lastname"
                                                                        name="Checkout[b_lastname]" value=""
                                                                        placeholder="フリガナを入力してください"
                                                                        class="input-text required-entry">
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="b_email">支払い請求者のメールアドレス</label>
                                                                <br>
                                                                <input type="text" name="Checkout[b_email]" id="b_email"
                                                                    value="" placeholder="メールアドレスを入力してください."
                                                                    class="input-text validate-email required-entry">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="b_phonenumber">支払い請求先の電話番号</label>
                                                                <br>
                                                                <input type="number" name="Checkout[b_phonenumber]"
                                                                    value="" placeholder="電話番号を入力してください"
                                                                    class="input-text required-entry"
                                                                    id="b_phonenumber">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label for="b_address">支払い請求先の住所</label>
                                                            <br>
                                                            <input type="text" id="b_address" name="Checkout[b_address]"
                                                                value="" class="input-text required-entry">
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="b_country_id">支払い請求先の国</label>
                                                                <br>
                                                                <select id="b_country_id" emptyoption="国を選択してください"
                                                                    data-request="onPullBillingStateList"
                                                                    data-request-success="afterChangeCountry($el, data, &quot;b_state_id&quot;)"
                                                                    name="Checkout[b_country_id]">
                                                                    <option value="">国を選択してください</option>
                                                                    <option value="1">United States</option>
                                                                    <option value="2">Canada</option>
                                                                    <option value="3">Australia</option>
                                                                    <option value="17">United Kingdom</option>
                                                                    <option value="7">Ireland</option>
                                                                    <option value="22">Netherlands</option>
                                                                    <option value="122" selected="selected">日本</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="b_state_id">支払い請求先の都道府県</label>
                                                                <br>
                                                                <select id="b_state_id" emptyoption="先に国を選択してください"
                                                                    name="Checkout[b_state_id]">
                                                                    <option value="">先に国を選択してください</option>
                                                                    <option value="285" selected="selected">東京都</option>
                                                                    <option value="286">愛知県</option>
                                                                    <option value="287">秋田県</option>
                                                                    <option value="288">青森県</option>
                                                                    <option value="289">千葉県</option>
                                                                    <option value="290">愛媛県</option>
                                                                    <option value="291">福井県</option>
                                                                    <option value="292">福岡県</option>
                                                                    <option value="293">福島県</option>
                                                                    <option value="294">岐阜県</option>
                                                                    <option value="295">群馬県</option>
                                                                    <option value="296">広島県</option>
                                                                    <option value="297">北海道</option>
                                                                    <option value="298">兵庫県</option>
                                                                    <option value="299">茨城県</option>
                                                                    <option value="300">石川県</option>
                                                                    <option value="301">岩手県</option>
                                                                    <option value="302">香川県</option>
                                                                    <option value="303">鹿児島県</option>
                                                                    <option value="304">神奈川県</option>
                                                                    <option value="305">高知県</option>
                                                                    <option value="306">熊本県</option>
                                                                    <option value="307">京都府</option>
                                                                    <option value="308">三重県</option>
                                                                    <option value="309">宮城県</option>
                                                                    <option value="310">長野県</option>
                                                                    <option value="311">奈良県</option>
                                                                    <option value="312">新潟県</option>
                                                                    <option value="313">大分県</option>
                                                                    <option value="314">岡山県</option>
                                                                    <option value="315">沖縄県</option>
                                                                    <option value="316">大阪府</option>
                                                                    <option value="317">佐賀県</option>
                                                                    <option value="318">埼玉県</option>
                                                                    <option value="319">滋賀県</option>
                                                                    <option value="320">島根県</option>
                                                                    <option value="321">静岡県</option>
                                                                    <option value="322">栃木県</option>
                                                                    <option value="323">徳島県</option>
                                                                    <option value="324">鳥取県</option>
                                                                    <option value="325">富山県</option>
                                                                    <option value="326">和歌山県</option>
                                                                    <option value="327">山形県</option>
                                                                    <option value="328">山口県</option>
                                                                    <option value="329">山梨県</option>
                                                                    <option value="330">宮崎県</option>
                                                                    <option value="331">長崎県</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="b_city">支払い請求先の都市</label>
                                                                <br>
                                                                <input type="text" name="Checkout[b_city]" value=""
                                                                    class="input-text required-entry" id="b_city">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="b_postcode">支払い請求先の郵便番号</label>
                                                                <br>
                                                                <input type="text" name="Checkout[b_postcode]"
                                                                    id="b_postcode" value=""
                                                                    class="input-text validate-zip-international required-entry"
                                                                    maxlength="15">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </div>
                            </li>
                        </ol>
                        <dl>
                            <div class="one-page-checkout">
                                <div class="step-title">
                                    <img src="https://www.zasale.com/themes/sweeshop-v1/assets/img/checkout_pei.png">
                                    <h3 class="one_page_heading onestep-fix-title">配送方法の選択</h3>
                                </div>
                            </div>










                            <input type="hidden" name="Checkout[payment_type]" value="">
                            <div class="pay-content">



                                <div class="one-page-checkout focusScroll">
                                    <div class="step-title">
                                        <img
                                            src="https://www.zasale.com/themes/sweeshop-v1/assets/img/checkout_paycard.png">
                                        <h3 class="one_page_heading onestep-fix-title">ご希望のお支払い方法を選択してください</h3>
                                    </div>
                                </div>

                                <dd class="complete ml55 zasale">

                                </dd>


                                <div class="one-page-checkout">
                                    <div class="step-title">
                                        <img
                                            src="https://www.zasale.com/themes/sweeshop-v1/assets/img/checkout_product.png">
                                        <h3 class="one_page_heading onestep-fix-title">明細書
                                            <span class="deliveryDay">発送日&gt;</span>
                                            <style>
                                                .deliveryDay {
                                                    margin-left: 24px;
                                                    cursor: pointer;
                                                }

                                                .deliveryDayDialogBox {
                                                    display: none;
                                                    position: fixed;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100vw;
                                                    height: 100vh;
                                                    background: rgba(0, 0, 0, .4);
                                                    align-items: center;
                                                    justify-content: center;
                                                    z-index: 99
                                                }

                                                .deliveryDayDialogBoxInfo {
                                                    background: #fff;
                                                    border-radius: 16px;
                                                    padding: 4px 0;
                                                    color: #000;
                                                    width: 90%
                                                }

                                                .deliveryDayDialogBoxInfoTitle {
                                                    display: block;
                                                    text-align: center;
                                                    font-size: 16px;
                                                    font-weight: 700;
                                                    line-height: 44px
                                                }

                                                .deliveryDayDialogBoxInfoTitleInfo {
                                                    display: block;
                                                    text-align: center;
                                                    font-weight: normal;
                                                    line-height: 44px
                                                }

                                                .deliveryDayDialogBoxInfoTitleClose {
                                                    display: block;
                                                    text-align: center;
                                                    font-size: 14px;
                                                    font-weight: normal;
                                                    border-top: 1px solid #e3e3e3;
                                                    line-height: 44px
                                                }

                                                .delivery_href {
                                                    display: block;
                                                    text-align: left;
                                                    padding: 10px;
                                                    font-size: 12px;
                                                }

                                                .delivery_href a {
                                                    color: #b44b2e;
                                                    text-decoration: underline;
                                                }

                                                .delivery_href input[name="delivery_href_checkbox"] {
                                                    display: inline-block !important;
                                                    margin: 0 4px 0 0;
                                                    vertical-align: middle;
                                                }

                                                @media screen and (min-width: 750px) {
                                                    .deliveryDayDialogBoxInfo {
                                                        max-width: 400px
                                                    }
                                                }
                                            </style>
                                            <div class="deliveryDayDialogBox">
                                                <div class="deliveryDayDialogBoxInfo">
                                                    <div class="deliveryDayDialogBoxInfoTitle">
                                                        発送日
                                                    </div>
                                                    <div class="deliveryDayDialogBoxInfoTitleInfo">
                                                        <p>*商品配送予定日：通常商品は3～8営業日以内ご発送させていただきます。現時期コロナウイルスの影響により、配送は少し遅延が発生する場合もございます。ご理解の程よろしくお願いします。
                                                        </p>
                                                    </div>
                                                    <div class="deliveryDayDialogBoxInfoTitleClose">
                                                        閉じる
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                $('.deliveryDay').on('click', function (event) {
                                                    event.stopPropagation()
                                                    $('.deliveryDayDialogBox').css({ 'display': 'flex' });
                                                });
                                                $('.deliveryDayDialogBoxInfoTitleClose').on('click', function (event) {
                                                    event.stopPropagation()
                                                    $('.deliveryDayDialogBox').hide();
                                                })
                                                $('.deliveryDayDialogBox').on('click', function (event) {
                                                    event.stopPropagation()
                                                })
                                            </script>
                                        </h3>
                                    </div>
                                </div>





                            </div>
                        </dl>

                    </section>

                </form>
            </div>
        </div>
    </div>



    <div class="alertBox2">
        <div class="cover_"></div>
        <div class="alert_cont_">
            <h2></h2>
            <div class="mrt20">
                <span class="closeBtn btn_">閉める</span>
                <a href="/" class="goHomt_ btn_">お買い物を続ける</a>
            </div>
        </div>
    </div>
   