.reactSlickButton1 .slick-next,
.reactSlickButton1 .slick-prev {
  width: 60px;
  height: 60px;

  /* background-color: black; */
  position: absolute;

  /* border:10px solid black; */
  z-index: 99999;
}

.reactSlickButton1 .slick-next {
  top: calc(50%);
  right: 10px;
  z-index: 99999999999;
}

.reactSlickButton1 .slick-prev {
  /* border:1000px solid black; */
  top: calc(50%);

  /* right:10px; */
  left: 0;
  z-index: 999;
}

.reactSlickButton1 .slick-prev::before,
.reactSlickButton1 .slick-next::before {
  /* font-size: 55px;
  border: 10px solid black; */
  /* color: black; */
  /* background: url('/rightArrow.png') no-repeat;
  width:5rem; */
  /* background-size: auto; */
  font-family: unset;
  font-size: unset;
  line-height: unset;
  opacity: unset;
  color: unset;
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

.reactSlickButton1 .slick-prev {
  background: url('/rightArrow.png') no-repeat;
  width: 30px;
}

.reactSlickButton1 .slick-next {
  background: url('/leftArrow.png') no-repeat;
  width: 30px;
}

.reactSlickButton1 .slick-prev:hover {
  background: url('/rightArrow.png') no-repeat;
  width: 30px;
}

.reactSlickButton1 .slick-next:hover {
  background: url('/leftArrow.png') no-repeat;
  width: 30px;
}
