<a href="/shirt-p-128072.html?ref=daily-new">
    <div class="img" style="position: relative;width: 209px;height: 209px;">
        <img class="new-entry-img lazy"
            data-original="//imgs.zasale.com/uploads/public/640/583/817/640583817a070915666655.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
            src="//imgs.zasale.com/uploads/public/640/583/817/640583817a070915666655.jpg?x-oss-process=image%2Fresize%2Cw_344%2Ch_420%2Ctype_4%2Fquality%2Cq_60%2Fformat%2Cwebp"
            alt="上品さたっぷり！カジュアル フォーマル  レディース   プリント   リボンカラー  肌触りよく  シャツ・ブラウス" style="display: block;">
        <img src="//imgs.zasale.com/uploads/public/62b/eb0/71c/62beb071ce501444330482.png?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp"
            style="position: absolute;bottom: 0;right: 0;width: 30%;" alt="">
        <img style="width: 50px; height: auto; position: absolute; z-index: 2; top: 0px; right: 0;"
            src="//imgs.zasale.com/uploads/public/62b/412/ec1/62b412ec1db1f927374847.png?x-oss-process=image%2Fquality%2Cq_85%2Fformat%2Cwebp"
            alt="第二件半价图片标签">
    </div>
    <h3>上品さたっぷり！カジュアル フォーマル レディース プリント リボンカラー 肌触りよく シャツ・ブラウス</h3>
    <p class="entry-limitp" style="text-align: center;">
        <span class="price price-other entry-fontbig" style="color: #ff0000">￥2,995 税込</span>
    </p>
    <p class="entry-limitp" style="text-align: center;">
        <span style="color: #a1a1a1;text-decoration: line-through;">￥3,327円</span>
        <span style="color:#ff0000">（￥332円↓）</span>
    </p>
</a>